* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Lato', sans-serif;
   font-size: 0px;
}

a {
   text-decoration: none;
}

.center {
   padding-left: calc(50% - 570px);
   padding-right: calc(50% - 570px);
}

.header-link {
   background: #222222;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-top: 18px;
   padding-bottom: 19px;
}

.left-nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 40px;
}

.right-nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 33px;
}

.header {
   background: #F1E4E6;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 64px;
   position: relative;
}

.photo-header {
   margin-left: -29%;
}


.box-title {
   border-left: 12px solid #F16D7F;
   padding-left: 16px;
}

.selected-text {
   color: #F16D7F;
}

.title {
   font-style: normal;
   font-weight: 900;
   font-size: 48px;
   line-height: 58px;
   color: #222222;

}

.text-title {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   color: #222222;
}

.offer {
   margin-top: 71px;
   margin-bottom: 96px;
   display: grid;
   grid-template-columns: repeat(3, 360px);
   justify-content: center;
   gap: 30px;
}

.offer-img {
   width: 100%;
   filter: brightness(40%);

}

.offer-item {
   position: relative;
}

.offer-item-big {
   grid-column: span 3;
}

.text-offer {
   position: absolute;
   top: 40%;
   width: 100%;
   z-index: 1;
}

.text-title-offer {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #FFFFFF;
}

.title-offer {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   color: #F16D7F;
}

.products {
   text-align: center;
   margin-bottom: 60px;
}

.products-wrap {
   text-align: left;
   display: grid;
   grid-template-columns: repeat(3, 360px);
   justify-content: center;
   gap: 30px;
}

.subtitle-products {
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   color: #222222;
   margin-bottom: 6px;
}

.text-products {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
   margin-bottom: 48px;
}

.product-img {
   width: 100%;
}

.products-item {
   background: #F8F8F8;
}

.produt-info {
   padding: 0 16px;
   margin-top: 25px;
   margin-bottom: 24px;
}

.product-title {
   margin-bottom: 16px;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #000000;
}

.product-text {
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5D5D5D;
   margin-bottom: 16px;
}

.prise {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #F16D7F;
}

.button {
   margin-top: 48px;
   padding: 15px 39px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #F26376;
   border: 1px solid #F26376;
   background: none;
}

.button:hover {
   color: #FFFFFF;
   background: #F26376;
}

@media (max-width: 1024px) {
   .center {
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
   }

   .header {
      gap: 39px;
   }

   .photo-header {
      width: 368px;
      margin-left: -8%;
   }

   .title {
      font-size: 44px;
      line-height: 53px;

   }

   .text-title {
      font-size: 24px;
      line-height: 29px;
   }

   .offer {
      grid-template-columns: repeat(3, 232px);
      gap: 20px;
   }

   .products-wrap {
      grid-template-columns: repeat(2, 360px);
      gap: 16px;
   }

}

@media (max-width: 768px) {
   .center {
      padding-left: calc(50% - 160px);
      padding-right: calc(50% - 160px);
   }

   .header {
      gap: 0px;
   }

   .left-nav {
      padding-left: 8px;
   }

   .right-nav {
      padding-right: 8px;
      gap: 0px;
   }

   .photo-header,
   .uset-item,
   .shop-item {
      display: none;
   }

   .box-title {
      margin: 149px 28px;
      padding-left: 15px;
   }

   .title {
      font-size: 38px;
      line-height: 46px;

   }

   .text-title {
      font-size: 20px;
      line-height: 24px;
   }

   .offer {
      margin-top: 64px;
      margin-bottom: 64px;
      grid-template-columns: repeat(1, 319px);
      gap: 32px;
   }

   .offer-img {
      object-fit: cover;
      height: 100%;
   }

   .offer-item-big {
      height: 111px;
      grid-column: span 1;
   }

   .subtitle-products {
      margin-bottom: 3px;
   }

   .text-products {
      margin-bottom: 64px;
   }

   .products-wrap {
      grid-template-columns: repeat(1, 319px);
   }

   .produt-info {
      margin-bottom: 20px;
   }

   .products {
      margin-bottom: 85px;
   }

   .button {
      margin-top: 40px;
   }
}